.left {
    float: left;
    padding: 50px 10px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    margin: 1rem;
    border-radius: 16px;
}

.right {
    margin-top: 15px;
    margin: 1rem;
    border-radius: 16px;
    float: right;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    width: 60%;
    height: 90%;
    text-align: center;
    padding: 50px 10px;
    color: #fff;

}

.main {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    margin-bottom: 20px;

}
.row
{
    height: auto;
    min-height: 100%;
    margin: 1rem;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));

}
